<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Payment Method Facade configuration -->
    <virtualType
            name="PraxigentoWalletPayment"
            type="\Praxigento\Wallet\Model\Payment">
    </virtualType>


    <!-- Interceptors (Plugins) -->
    <type name="\Magento\Checkout\Block\Checkout\LayoutProcessor">
        <!-- Add "Partial Payment" checkboxes to the payment forms on checkout -->
        <plugin name="praxigento_wallet_plugin"
                type="\Praxigento\Wallet\Decorate\Checkout\Block\Checkout\LayoutProcessor"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="\Magento\Quote\Model\Quote\Relation">
        <!-- Save partial payment total on quote save -->
        <plugin name="praxigento_wallet_plugin"
                type="\Praxigento\Wallet\Decorate\Quote\Model\Quote\Relation"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="\Magento\Quote\Model\Cart\CartTotalRepository">
        <!-- Add partial payment totals to data have being got through the REST API -->
        <plugin name="praxigento_wallet_plugin"
                type="Praxigento\Wallet\Decorate\Quote\Model\Cart\CartTotalRepository"
                sortOrder="100" disabled="false"/>
    </type>

    <!-- Repo -->
    <preference for="\Praxigento\Wallet\Repo\Entity\Log\ISale"
            type="\Praxigento\Wallet\Repo\Entity\Log\Def\Sale"/>
    <preference for="\Praxigento\Wallet\Repo\Entity\Partial\IQuote"
            type="\Praxigento\Wallet\Repo\Entity\Partial\Def\Quote"/>
    <preference for="\Praxigento\Wallet\Repo\Entity\Partial\ISale"
            type="\Praxigento\Wallet\Repo\Entity\Partial\Def\Sale"/>
    <preference for="Praxigento\Wallet\Repo\IModule"
            type="Praxigento\Wallet\Repo\Def\Module"/>

    <!-- Service -->
    <preference for="Praxigento\Wallet\Service\IOperation"
            type="Praxigento\Wallet\Service\Operation\Call"/>

</config>
