<!-- Checkbox to activate partial payment. This subform should be placed before first payment method. -->
<div id="prxgtPartialHeader"
     data-bind="visible: isVisible()"
     class=""
     style="border-bottom: 1px solid #CCCCCC">

    <div>
        <input id="prxgtPartialPayment" type="checkbox" data-bind="checked: isPartialChecked"/>
        <label for="prxgtPartialPayment">Use eWallet
            (up to <span data-bind="text: partialMaxPercent"></span>%;
            Available: <span data-bind="text: availableAmount"></span> <span data-bind="text: baseCurrency"></span>;
            Balance: <span data-bind="text: customerBalance"></span> <span data-bind="text: baseCurrency"></span>).
        </label>
    </div>
    <div class="clear"></div>
</div>