<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <!-- Configuration reader for eWallet payment method -->
    <type name="Praxigento\Wallet\Model\Payment\Method\Wallet\Config">
        <arguments>
            <argument name="methodCode"
                      xsi:type="const">Praxigento\Wallet\Model\Payment\Method\ConfigProvider::CODE_WALLET
            </argument>
        </arguments>
    </type>

    <!-- ConfigValueHandler for ConfigReader -->
    <virtualType name="PraxigentoWalletConfigValueHandler"
                 type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface"
                      xsi:type="object">Praxigento\Wallet\Model\Payment\Method\Wallet\Config
            </argument>
        </arguments>
    </virtualType>

    <!-- ValueHandlerPool for ConfigValueHandler -->
    <virtualType name="PraxigentoWalletValueHandlerPool"
                 type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PraxigentoWalletConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Commands Pool for payment method -->
    <virtualType name="PraxigentoWalletCommandPool"
                 type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <!-- see "prxgt_wallet_pay.payment_action"="authorize_capture" in "./etc/config.xml" -->
                <item name="capture" xsi:type="string">Praxigento\Wallet\Model\Payment\Method\Wallet\Command\Capture
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!--
        Payment Method Facade configuration (see ./etc/config.xml)
        http://devdocs.magento.com/guides/v2.3/payments-integrations/base-integration/facade-configuration.html
    -->
    <virtualType name="PraxigentoWalletPaymentFacade"
                 type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Praxigento\Wallet\Model\Payment\Method\ConfigProvider::CODE_WALLET
            </argument>
            <argument name="formBlockType" xsi:type="string">
                Praxigento\Wallet\Block\Adminhtml\Payment\Method\Wallet\Form
            </argument>
            <!-- frontend block for order view -->
            <argument name="infoBlockType" xsi:type="string">Praxigento\Wallet\Block\Payment\Method\Wallet\Info
            </argument>
            <argument name="valueHandlerPool" xsi:type="object">PraxigentoWalletValueHandlerPool</argument>
            <!--<argument name="validatorPool" xsi:type="object">PraxigentoWalletValidatorPool</argument>-->
            <argument name="commandPool" xsi:type="object">PraxigentoWalletCommandPool</argument>
        </arguments>
    </virtualType>


    <!-- ******* -->
    <!-- PLUGINS -->
    <!-- ******* -->
    <type name="Magento\Paypal\Model\Api\Nvp">
        <!-- Correct amounts for PayPal Standard payment method when partial payment is used -->
        <plugin name="prxgt_wallet_plugin"
                type="Praxigento\Wallet\Plugin\Magento\Paypal\Model\Api\Nvp"
                sortOrder="300" disabled="false"/>
    </type>
    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <!-- Add partial payment totals to data have being got through the REST API -->
        <plugin name="prxgt_wallet_plugin"
                type="Praxigento\Wallet\Plugin\Magento\Quote\Model\Cart\CartTotalRepository"
                sortOrder="300" disabled="false"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Relation">
        <!-- Save partial payment total on quote save -->
        <plugin name="prxgt_wallet_plugin"
                type="Praxigento\Wallet\Plugin\Magento\Quote\Model\Quote\Relation"
                sortOrder="300" disabled="false"/>
    </type>
    <type name="Magento\Quote\Model\QuoteRepository">
        <!-- Save partial payment total on quote save -->
        <plugin name="prxgt_wallet_plugin"
                type="Praxigento\Wallet\Plugin\Magento\Quote\Model\QuoteRepository"
                sortOrder="300" disabled="false"/>
    </type>
    <type name="Magento\Sales\Model\Order\Payment\Processor">
        <!-- Reduce payment amount for partial payments -->
        <plugin name="prxgt_wallet_plugin"
                type="Praxigento\Wallet\Plugin\Magento\Sales\Model\Order\Payment\Processor"
                sortOrder="300" disabled="false"/>
    </type>
    <type name="Magento\Sales\Model\Order\Payment">
        <!-- Use partial amount in payment validation () -->
        <plugin name="prxgt_wallet_plugin"
                type="Praxigento\Wallet\Plugin\Magento\Sales\Model\Order\Payment"
                sortOrder="300" disabled="false"/>
    </type>
    <type name="ParadoxLabs\Authnetcim\Gateway\Validator\CreditCard">
        <!-- Prevent validation failure on empty properties for credit cards -->
        <plugin name="prxgt_wallet_plugin"
                type="Praxigento\Wallet\Plugin\ParadoxLabs\Authnetcim\Gateway\Validator\CreditCard"
                sortOrder="300" disabled="false"/>
    </type>

</config>
