<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_submit_all_after">
        <!-- Save partial payment amounts to order registry. -->
        <observer name="praxigento_wallet_observer"
                  instance="Praxigento\Wallet\Observer\CheckoutSubmitAllAfter"/>
    </event>

    <event name="order_cancel_after">
        <!-- Refund e-wallet payments (partial). -->
        <observer name="praxigento_wallet_observer"
                  instance="Praxigento\Wallet\Observer\OrderCancelAfter"/>
    </event>

    <event name="paypal_express_place_order_success">
        <!-- Perform partial payment (internal wallet operation) for PayPal Express (Standard). -->
        <observer name="praxigento_wallet_observer"
                  instance="Praxigento\Wallet\Observer\PaypalExpressPlaceOrderSuccess"/>
    </event>

    <event name="sales_order_payment_place_start">
        <!-- Perform partial payment (internal wallet operation). -->
        <observer name="praxigento_wallet_observer"
                  instance="Praxigento\Wallet\Observer\SalesOrderPaymentPlaceStart"/>
    </event>

    <event name="sales_order_payment_refund">
        <!-- Refund e-wallet payments (paid by e-wallet only). -->
        <observer name="praxigento_wallet_observer"
                  instance="Praxigento\Wallet\Observer\SalesOrderPaymentRefund"/>
    </event>

    <event name="sales_quote_payment_import_data_before">
        <!-- Analyze UI data and switch on/off partial payment in quote. -->
        <observer name="praxigento_wallet_observer"
                  instance="Praxigento\Wallet\Observer\SalesQuotePaymentImportDataBefore"/>
    </event>

</config>
