<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <!-- See 'code' argument for 'PraxigentoWalletPaymentFacade' in './etc/di.xml' -->
            <group id="prxgt_wallet_pay" translate="label" type="text"
                    sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>eWallet</label>
                <comment>
                    <![CDATA[<a href="https://github.com/praxigento/mobi_mod_mage2_wallet" target="_blank">Module sources</a>]]>
                </comment>
                <field id="active" translate="label" type="select"
                        sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text"
                        sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <tooltip>This value is used on payment step in the checkout process.</tooltip>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="negative_balance_enabled" translate="label" type="select"
                        sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Negative Balance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow negative balances on eWallet accounts.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="partial_enabled" translate="label" type="select"
                        sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Partial Payment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Use eWallet with other payment methods.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="partial_percent" translate="label" type="text"
                        sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Max. Percent for Partial Payment</label>
                    <comment>What part of the whole sum is allowed to be paid from eWallet.</comment>
                    <tooltip>Use values from 0.00 to 1.00.</tooltip>
                    <depends>
                        <field id="active">1</field>
                        <field id="partial_enabled">1</field>
                    </depends>
                </field>
                <!--<field id="sample" translate="label" type="text"-->
                <!--sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="0">-->
                <!--<label>Sample Parameter</label>-->
                <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                <!--<comment>Comment should be placed here...</comment>-->
                <!--<tooltip>This is sample configuration parameter with some allowed XML-nodes in definition.</tooltip>-->
                <!--<hint>Hint...</hint>-->
                <!--</field>-->
            </group>
        </section>
    </system>
</config>